*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
#header{

    background: #52CAD8;
    height: 902px;
}
.nur{
    position: absolute;
    width: 787px;
    height: 795px;
   left: 0;

    opacity: 0.48;
    transform: rotate(0.6deg);
}
.pilus{
    display: flex;
    padding: 230px 30px 230px 30px;
    width: 149px;
    height: 149px;


    opacity: 0.63;
}
.emblema{
    position: absolute;
    width: 237px;
    height: 63px;
    padding: 59px 20px 59px 20px;
    z-index: 1;
}
.text{
  position: absolute;
     z-index: 1;
    width: 590px;
    height: 122px;
   padding: 280px 20px 280px 20px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;

    color: #0000BB;

}
.nur1{
    position: absolute;
    width: 684px;
    height: 684px;
    left: 698px;
    top: 91px;

}
.foto{
    position: absolute;
    width: 658px;
    height: 472px;
    left: 725px;
    top: 206px;

}
.btn{
    position: absolute;
    width: 233px;
    height: 63px;
    color: aliceblue;
    left: 135px;
    top: 490px;
    border-radius: 10%;
    background: red;
}
.img{
    display: flex;
    width: 1210px;
    height: 144px;
    padding: 90px 10px 90px 10px;
}
.container0{
    width: 1268px;
    height: 1281px;

    opacity: 0.99;
}
.text1{
    display: flex;
    width: 248px;
    height: 43px;
    padding: 80px 100px 80px 100px;

    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;

    color: #67CDD9;
}
#section{

}
.nur5{
    position: absolute;
    width: 1268px;
    height: 1281px;
    left: 86px;
    top: 1072px;

    opacity: 0.48;
}
.pont1{
    display: flex;
    padding: 0 150px 0 150px;
    width: 574px;
    height: 353px;

}
.bigpont{

}
.pont2{
    display: flex;
    padding: 0 700px 0 700px;
    margin: -350px 0 -350px 0;
    width: 574px;
    height: 353px;

}
.pont3{
    display: flex;
    padding: 370px 700px 370px 700px;
    width: 574px;
    height: 353px;

}
.pont4{
    display: flex;
   margin: -725px 0 -725px 0;
padding: 0 150px 0 150px;
    width: 574px;
    height: 353px;
}
.pont5{
    display: flex;
    padding: 750px 700px 750px 700px;
    width: 574px;
    height: 353px;
}
.pont6{
    display: flex;
    margin: -1100px 0 -1100px 0;
    padding: 0 150px 0 150px;
    width: 574px;
    height: 353px;
}
#section1{
    margin: 0;
    padding: 0;
}
.container1{

    width: 1440px;
    height: 915px;
    margin:180px 0 180px 0;

    background: #F3FEFF;
}
.text2{
    display: flex;
    padding: 100px 50px 100px 50px;
    width: 299px;
    height: 43px;

    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;


    color: #00A1B4;
}
.maps{
    display: flex;
    align-items:flex-end;
    justify-content:flex-end;
    width: 784px;
    height: 640px;
    padding: 0 350px 0 350px;
    margin: -100px 0 -100px 0;
}
.border{
    position: absolute;
    width: 424px;
    height: 570px;
    left: 131px;
    top: 2626px;


    background: #E9FDFF;
    box-shadow: 0 4px 19px -3px rgba(0, 0, 0, 0.25);
    border-radius: 54px;
}
.tel{
    display: flex;
    left: 12.64%;
    right: 85.42%;
    top: 76.18%;
    bottom: 23.05%;
}
.btn1{
    display: flex;
    align-items: center;



}
.nom{
    display: flex;
    width: 154px;
    height: 24px;

    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;

    color: #00A1B4;

}
.nomer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.adress{
    width: 173px;
    height: 48px;
    color: #00A1B4;
}
.icon{
    display: flex;
    left: 12.64%;
    right: 85.42%;
    top: 79.24%;
    bottom: 19.79%;
}
.btn4{
    display: flex;
    border: none;
    background: #F3FEFF;
}
.adress1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tel{
    width: 30px;
    height: 30px;
}


